@import 'Ui/Ui.scss';

.autocomplete {
  position: relative;
  /*border: 1px black solid;*/
  max-width: 350px;
  margin: 0 auto;
}

.autocomplete__inputWrap {
  position: relative;

  &:hover {
    cursor: text;
  }
}

.autocomplete__input {
  width: 100%;
  border: 1px #c8c8c8 solid;
  border-radius: 17px;
  padding: 11px 47px;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;

  &::placeholder {
    color: rgb(170, 170, 170);
  }

  &::-moz-placeholder {
    opacity: 1;
  }

  &:focus {
    border-color: color(light);
  }
}

.autocomplete__inputWrap {
  &:hover {
    .autocomplete__input {
      border-color: color(light);
    }
  }
}

